*.egg-info
*.pyc
.idea/
.venv/
dist/
.pytest_cache/
__pycache__
.coverage
coverage.xml
pytest/

example1.json
example2.json
example1.yml
example2.yml

exp.txt
exp2.txt
file7.yml
file8.yml
file7.json
file8.json
test_plain_hex.py
test_stylish_hex.py
